<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <Console name="StdOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601}{GMT+0} (%t) %m%n"/>
        </Console>

        <Flume name="flume" type="Avro" compress="false">
            <Agent host="ip-10-0-0-111.ec2.internal" port="4141"/>
            <PatternLayout pattern="%d{ISO8601}{GMT+0} %m"/>
        </Flume>

    </Appenders>

    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="StdOut" level="DEBUG"/>
            <AppenderRef ref="flume" level="INFO"/>
        </Root>
    </Loggers>

</Configuration>
